@charset "UTF-8";

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
【第一回目の目標】
----------------------------------------------------------------------
【1】ホバーによる簡単なアニメーションをtransitionとtransformで作る
【2】ボタン押下によるシーン切り替えをtransitionで作る
【3】（可能なら）時間によってシーンが切り替わる

(1)transition: 簡易的なアニメーションをさせるための仕組み
(2)transform: 平行移動や回転などの動きを決めるCSSプロパティ
(3)transform3d: 効率の良い平行移動の書き方
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*======================================================================
	base
======================================================================*/

body{
	text-align:center;
	background:#666;
	font-size:14px;
	font-family: 'Raleway', sans-serif;
}

.inner{
	width:1000px;
	margin:0 auto;
}

/*======================================================================
	warpper
======================================================================*/
#warpper{
	background:#fff;
}

/*======================================================================
	header
======================================================================*/

header h1{
	text-transform:uppercase;
	color:#fff;
	letter-spacing:0.2em;
	padding:10px 0;
	background:#666;
}

/*======================================================================
	nav
======================================================================*/

nav{
	padding:50px 0;
}

nav li{
	display:inline-block;
}

nav li a{
	position:relative;
	display:inline-block;
	padding:15px 20px;
	color:#666666;
	font-weight:bold;
	z-index:1;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	transition:color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	margin:0 20px;
	letter-spacing:0.1em;
	text-decoration:none;
}

nav li a::before,
nav li a::after{
	position:absolute;
	width:100%;
	left:0;
	top:50%;
	height:1px;
	background:#CCC;
	content:'';
	opacity:1;
	z-index:-1;
	pointer-events: none;
	transition:transform 0.3s , opacity 0.3s;
	-webkit-transition:transform 0.3s , opacity 0.3s;
	-moz-transition:transform 0.3s , opacity 0.3s;
}

nav li a::before{
	transform:translateY(-20px);
	-webkit-transform:translateY(-20px);
	-moz-transform:translateY(-20px);
}

nav li a::after{
	transform:translateY(20px);
	-webkit-transform:translateY(20px);
	-moz-transform:translateY(20px);
}

/*----------------------
	hover
----------------------*/

nav li a:hover::before{
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
}

nav li a:hover::after{
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
}

nav li a:hover{
	color:#333;
	text-shadow:0 0 3px #333;
}

/*======================================================================
	content
======================================================================*/

#content{
	position:relative;
	height:1000px;
}

/*----------------------
	section
----------------------*/

section h2{
	padding:12px;
	background:#999999;
}

.base{
	color:#fff;
	width:100%;
	height:100%;
	position:absolute;
	opacity:0;
	top:0;
	left:0;
	transition:opacity 2s;
	-webkit-transition:opacity 2s;
	-moz-transition:opacity 2s;
}

/*▼javascriptで使用しているスタイルです。*/
.pageIn{
	opacity:1;
	z-index:1;
}

/*各種ページの色*/
#scene0{background:#CCC;}
#scene1{background:#F00;}
#scene2{background:#0F0;}
#scene3{background:#00F;}
#scene4{background:#0FF;}

/*======================================================================
	footer
======================================================================*/

footer{
	color:#fff;
	letter-spacing:0.2em;
	padding:10px 0;
	background:#666;
}

footer small{
	font-size:10px;
}